@import "./variables.scss";

button {
    background-color: $primary;
    color: $white;
    border-color: $light-grey;
    border-radius: $radius;
    margin: $margin;
    height: $buttonHeight;
    &:hover{
        background-color: $white;
        color: $primary;
        border-color: $light-grey;
        border-radius: $radius;
        height: $buttonHeight;
    }
}