@import "./variables.scss";

button {
    background-color: $primary;
    color: $white;
    border-color: $light-grey;
    border-radius: $radius;
    margin: $margin;
    height: $buttonHeight;
    transition: all .3s ease-in;
    &:hover{
        background-color: $white;   
        color: $primary;
    }
}